.show-box-1 {
  overflow: hidden;
  position: relative;
}
.show-box-1::after {
  animation: show-box 2s ease-in forwards;
  content: '';
  background-color: white;
  display: block;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  position: absolute;
}

.show-box-2 {
  overflow: hidden;
  position: relative;
}
.show-box-2::after {
  animation: show-box 3s ease-in forwards;
  content: '';
  background-color: white;
  display: block;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  position: absolute;
}

.show-box-3 {
  overflow: hidden;
  position: relative;
}
.show-box-3::after {
  animation: show-box 4.5s ease-in forwards;
  content: '';
  background-color: white;
  display: block;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  position: absolute;
}

@keyframes show-box {
  from {
    transform: translate(-101%);
  }

  to {
    transform: translate(101%);
  }
}

.show-text-1 {
  animation: show-text 1ms 1s ease-in forwards;
  opacity: 0;
  color: white;
}
.show-text-2 {
  animation: show-text 1ms 2s ease forwards;
  opacity: 0;
  color: white;
}
.show-text-3 {
  animation: show-text 1ms 3s ease-out forwards;
  opacity: 0;
  color: white;
}

@keyframes show-text {
  to {
    opacity: 1;
  }
}