@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.animation-progress-footer {
  @apply transition-all;
  @apply rounded-3xl;
  animation: appear-footer 1ms ease-in-out;
  animation-timeline: scroll();
  transform-origin: left;
  position: fixed;
  overflow-x: hidden;
  bottom: 0;
}

@keyframes appear-footer {
  from {
    width: 0px;
    translate: -100px;
  }

  to {
    width: 100%;
    translate: 0 0;
    border-radius: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: 17, 24, 39, 1;
    --secondary-background: 34, 139, 34, 1;
    --boxes-primary-background: 0, 0, 0, 1;
    --boxes-secondary-background: 17, 24, 39, 1;
    --text-primary-color: 156, 163, 175, 1;
    --text-secondary-color: 107, 114, 128, 1;
    --border-primary-color: 255, 255, 255, 1;
    --border-secondary-color: 29, 185, 84, 1;
    --title-primary-color: 34, 197, 94, 1;
    --title-secondary-color: 156, 163, 175, 1;
  }
}

.dark {
  --primary-background: 17, 24, 39, 1;
  --secondary-background: 17, 17, 39, 1;
  --boxes-primary-background: 0, 0, 0, 1;
  --boxes-secondary-background: 17, 24, 39, 1;
  --text-primary-color: 156, 163, 175, 1;
  --text-secondary-color: 107, 114, 128, 1;
  --border-primary-color: 255, 255, 255, 1;
  --border-secondary-color: 12, 173, 71, 1;
  --title-primary-color: 34, 197, 94, 1;
  --title-secondary-color: 156, 163, 175, 1;
}

.light {
  --primary-background: 69, 90, 100, 1;
  --secondary-background: 139, 195, 74, 1;
  --boxes-primary-background: 207, 216, 220, 1;
  --boxes-secondary-background: 207, 216, 220, 1;
  --text-primary-color: 33, 33, 33, 1;
  --text-secondary-color: 66, 66, 66, 1;
  --border-primary-color: 33, 33, 33, 1;
  --border-secondary-color: 33, 33, 33, 1;
  --title-primary-color: 34, 197, 94, 1;
  --title-secondary-color: 33, 33, 33, 1;
}

.alura {
  --primary-background: 5, 25, 51, 1;
  --secondary-background: 5, 29, 59, 1;
  --boxes-primary-background: 9, 51, 102, 0.4;
  --boxes-secondary-background: 5, 29, 59, 1;
  --text-primary-color: 229, 241, 255, 1;
  --text-secondary-color: 229, 241, 255, 1;
  --border-primary-color: 22, 123, 247, 1;
  --border-secondary-color: 229, 241, 255, 1;
  --title-primary-color: 163, 255, 191, 1;
  --title-secondary-color: 229, 241, 255, 1;
}

.youtube {
  --primary-background: 15, 15, 15, 1;
  --secondary-background: 255, 0, 0, 1;
  --boxes-primary-background: 255, 255, 255, 0.1;
  --boxes-secondary-background: 40, 40, 40, 1;
  --text-primary-color: 255, 255, 255, 1;
  --text-secondary-color: 144, 144, 144, 1;
  --border-primary-color: 144, 144, 144, 1;
  --border-secondary-color: 40, 40, 40, 1;
  --title-primary-color: 255, 0, 0, 1;
  --title-secondary-color: 144, 144, 144, 1;
}

.instagram {
  --primary-background: 0, 0, 0, 1;
  --secondary-background: 0, 0, 0, 1;
  --boxes-primary-background: 54, 54, 54, 1;
  --boxes-secondary-background: 54, 54, 54, 1;
  --text-primary-color: 245, 245, 245, 1;
  --text-secondary-color: 168, 168, 168, 1;
  --border-primary-color: 115, 115, 115, 1;
  --border-secondary-color: 245, 245, 245, 1;
  --title-primary-color: 252, 175, 69, 1;
  --title-secondary-color: 255, 220, 128;
}
