@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  color-scheme: light dark;
}

* {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

:root {
  --color-bg: #ffffff;
  --color-text: #111;
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-border: #e5e7eb;
}

/* DARK */
[data-theme="dark"] {
  --color-bg: #0f172a;
  --color-text: #e5e7eb;
  --color-primary: #3b82f6;
  --color-secondary: #a855f7;
  --color-border: #1f2937;
}

/* ROCKETSEAT */
[data-theme="rocketseat"] {
  --color-bg: #121214;
  --color-text: #e1e1e6;
  --color-primary: #8257e6;
  --color-secondary: #996dff;
  --color-border: #202024;
}

/* MINECRAFT */
[data-theme="minecraft"] {
  --color-bg: #1e3a1e;
  --color-text: #d4ffd4;
  --color-primary: #3fa34d;
  --color-secondary: #8b5a2b;
  --color-border: #2d5a2d;
}

/* ALURA */
[data-theme="alura"] {
  --color-bg: #0b2545;
  --color-text: #e0f2ff;
  --color-primary: #00a3ff;
  --color-secondary: #00e0ff;
  --color-border: #123d6b;
}

[data-theme="instagram"] {
  --color-bg: #000000;
  --color-text: #fafafa;
  --color-primary: #fd1d1d;
  --color-secondary: #c13584;
  --color-border: #1a1a1a;
}
